%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Name
      -# %th Actions
  %tbody
    - @adgroups.each do |adgroup|
      %tr
        %td= adgroup.uid
        %td
          = link_to adgroup.name, adgroup_path(adgroup)
        -# %td
          = link_to "Edit", edit_adgroup_path(adgroup)
          = link_to "Destroy", adgroup_path(adgroup), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
