
  <label class="label"><%= t("activerecord.attributes.adgroup._type", :default => t("activerecord.labels._type", :default => " type")) %>:</label>
  <p><%= @adgroup._type %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup._id", :default => t("activerecord.labels._id", :default => "")) %>:</label>
  <p><%= @adgroup._id %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.advert_id", :default => t("activerecord.labels.advert_id", :default => "Advert")) %>:</label>
  <p><%= @adgroup.advert_id %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.ad_id", :default => t("activerecord.labels.ad_id", :default => "Ad")) %>:</label>
  <p><%= @adgroup.ad_id %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.campaign_id", :default => t("activerecord.labels.campaign_id", :default => "Campaign")) %>:</label>
  <p><%= @adgroup.campaign_id %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
  <p><%= @adgroup.name %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.ad_status", :default => t("activerecord.labels.ad_status", :default => "Ad status")) %>:</label>
  <p><%= @adgroup.ad_status %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.adgroup_status", :default => t("activerecord.labels.adgroup_status", :default => "Adgroup status")) %>:</label>
  <p><%= @adgroup.adgroup_status %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.bid_type", :default => t("activerecord.labels.bid_type", :default => "Bid type")) %>:</label>
  <p><%= @adgroup.bid_type %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.max_bid", :default => t("activerecord.labels.max_bid", :default => "Max bid")) %>:</label>
  <p><%= @adgroup.max_bid %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.bid_info", :default => t("activerecord.labels.bid_info", :default => "Bid info")) %>:</label>
  <p><%= @adgroup.bid_info %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.account_id", :default => t("activerecord.labels.account_id", :default => "Account")) %>:</label>
  <p><%= @adgroup.account_id %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.uid", :default => t("activerecord.labels.uid", :default => "Uid")) %>:</label>
  <p><%= @adgroup.uid %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.creative_ids", :default => t("activerecord.labels.creative_ids", :default => "Creative ids")) %>:</label>
  <p><%= @adgroup.creative_ids %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.targeting", :default => t("activerecord.labels.targeting", :default => "Targeting")) %>:</label>
  <p><%= @adgroup.targeting %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.start_time", :default => t("activerecord.labels.start_time", :default => "Start time")) %>:</label>
  <p><%= @adgroup.start_time %></p>

  <label class="label"><%= t("activerecord.attributes.adgroup.end_time", :default => t("activerecord.labels.end_time", :default => "End time")) %>:</label>
  <p><%= @adgroup.end_time %></p>
<%= link_to "Back", adgroups_path  %>
