%p
  User: #{@user.name}
  = link_to '[Edit]', edit_user_path(@user)
  
%p
  Email: #{@user.email if @user.email}

.accounts 
  %h2 Available Ads Accounts
  %ul
    - @results.each do |result|
      %li.account
        = result['id']
        = connect_or_view_account(result['id'])
