%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Name
      -# %th Actions
  %tbody
    - @creatives.each do |creative|
      %tr
        %td= creative.uid
        %td
          = link_to creative.name, creative_path(creative)
        -# %td
          = link_to "Show", creative_path(creative)
          = link_to "Edit", edit_creative_path(creative)
          = link_to "Destroy", creative_path(creative), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
