
  <label class="label"><%= t("activerecord.attributes.creative._type", :default => t("activerecord.labels._type", :default => " type")) %>:</label>
  <p><%= @creative._type %></p>

  <label class="label"><%= t("activerecord.attributes.creative._id", :default => t("activerecord.labels._id", :default => "")) %>:</label>
  <p><%= @creative._id %></p>

  <label class="label"><%= t("activerecord.attributes.creative.creative_id", :default => t("activerecord.labels.creative_id", :default => "Creative")) %>:</label>
  <p><%= @creative.creative_id %></p>

  <label class="label"><%= t("activerecord.attributes.creative.type", :default => t("activerecord.labels.type", :default => "Type")) %>:</label>
  <p><%= @creative.type %></p>

  <label class="label"><%= t("activerecord.attributes.creative.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</label>
  <p><%= @creative.title %></p>

  <label class="label"><%= t("activerecord.attributes.creative.body", :default => t("activerecord.labels.body", :default => "Body")) %>:</label>
  <p><%= @creative.body %></p>

  <label class="label"><%= t("activerecord.attributes.creative.image_hash", :default => t("activerecord.labels.image_hash", :default => "Image hash")) %>:</label>
  <p><%= @creative.image_hash %></p>

  <label class="label"><%= t("activerecord.attributes.creative.link_url", :default => t("activerecord.labels.link_url", :default => "Link url")) %>:</label>
  <p><%= @creative.link_url %></p>

  <label class="label"><%= t("activerecord.attributes.creative.object_id", :default => t("activerecord.labels.object_id", :default => "Object")) %>:</label>
  <p><%= @creative.object_id %></p>

  <label class="label"><%= t("activerecord.attributes.creative.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
  <p><%= @creative.name %></p>

  <label class="label"><%= t("activerecord.attributes.creative.run_status", :default => t("activerecord.labels.run_status", :default => "Run status")) %>:</label>
  <p><%= @creative.run_status %></p>

  <label class="label"><%= t("activerecord.attributes.creative.preview_url", :default => t("activerecord.labels.preview_url", :default => "Preview url")) %>:</label>
  <p><%= @creative.preview_url %></p>

  <label class="label"><%= t("activerecord.attributes.creative.count_current_adgroups", :default => t("activerecord.labels.count_current_adgroups", :default => "Count current adgroups")) %>:</label>
  <p><%= @creative.count_current_adgroups %></p>

  <label class="label"><%= t("activerecord.attributes.creative.uid", :default => t("activerecord.labels.uid", :default => "Uid")) %>:</label>
  <p><%= @creative.uid %></p>

  <label class="label"><%= t("activerecord.attributes.creative.image_url", :default => t("activerecord.labels.image_url", :default => "Image url")) %>:</label>
  <p><%= @creative.image_url %></p>
<%= link_to "Back", creatives_path  %>
