%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Name
      -# %th Actions
  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.uid
        %td
          = link_to campaign.name, campaign_path(campaign)
        -# %td
          = link_to "Show", campaign_path(campaign)
          = link_to "Edit", edit_campaign_path(campaign)
          = link_to "Destroy", campaign_path(campaign), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
