%h1 Listing campaigns

%table
  %tr
    %th Account
    %th Campaign
    %th Name
    %th Daily budget
    %th Campaign status
    %th Daily imps
    %th Uid
    %th Start time
    %th End time
    %th
    %th
    %th

  - @campaigns.each do |campaign|
    %tr
      %td= campaign.account_id
      %td= campaign.campaign_id
      %td= campaign.name
      %td= campaign.daily_budget
      %td= campaign.campaign_status
      %td= campaign.daily_imps
      %td= campaign.uid
      %td= campaign.start_time
      %td= campaign.end_time
      %td= link_to 'Show', campaign
      %td= link_to 'Edit', edit_campaign_path(campaign)
      %td= link_to 'Destroy', campaign, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Campaign', new_campaign_path
