
  <label class="label"><%= t("activerecord.attributes.campaign._type", :default => t("activerecord.labels._type", :default => " type")) %>:</label>
  <p><%= @campaign._type %></p>

  <label class="label"><%= t("activerecord.attributes.campaign._id", :default => t("activerecord.labels._id", :default => "")) %>:</label>
  <p><%= @campaign._id %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.account_id", :default => t("activerecord.labels.account_id", :default => "Account")) %>:</label>
  <p><%= @campaign.account_id %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.campaign_id", :default => t("activerecord.labels.campaign_id", :default => "Campaign")) %>:</label>
  <p><%= @campaign.campaign_id %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
  <p><%= @campaign.name %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.daily_budget", :default => t("activerecord.labels.daily_budget", :default => "Daily budget")) %>:</label>
  <p><%= @campaign.daily_budget %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.campaign_status", :default => t("activerecord.labels.campaign_status", :default => "Campaign status")) %>:</label>
  <p><%= @campaign.campaign_status %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.daily_imps", :default => t("activerecord.labels.daily_imps", :default => "Daily imps")) %>:</label>
  <p><%= @campaign.daily_imps %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.uid", :default => t("activerecord.labels.uid", :default => "Uid")) %>:</label>
  <p><%= @campaign.uid %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.start_time", :default => t("activerecord.labels.start_time", :default => "Start time")) %>:</label>
  <p><%= @campaign.start_time %></p>

  <label class="label"><%= t("activerecord.attributes.campaign.end_time", :default => t("activerecord.labels.end_time", :default => "End time")) %>:</label>
  <p><%= @campaign.end_time %></p>
<%= link_to "Back", campaigns_path  %>
