<!DOCTYPE html>
<html>
<head>
  <title>Spreader</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "Spreader", "/" %></h3>
        <ul class="nav">
           <li class="<%= controller.controller_path == 'accounts' ? 'active' : '' %>"><a href="<%= accounts_path %>">Accounts</a></li>
		   <li class="<%= controller.controller_path == 'campaigns' ? 'active' : '' %>"><a href="<%= campaigns_path %>">Campaigns</a></li>		   
		</ul>
        <ul class="nav secondary-nav">
		   <%= render :partial => 'shared/navigation' %>
		</ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span11">
          <%= yield %>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span4">
          <h3>Sidebar</h3>
          <ul>
           <li class="<%= controller.controller_path == 'accounts' ? 'active' : '' %>"><a href="<%= accounts_path %>">Accounts</a></li>
		   <li class="<%= controller.controller_path == 'campaigns' ? 'active' : '' %>"><a href="<%= campaigns_path %>">Campaigns</a></li>			   
        </div>
      </div>
    </div>
  </div>
</body>
</html>
