!!!
%html
  %head
    %title Spreader
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}	
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => params[:controller]}
    .topbar
      .topbar-inner
        .container
          %h3= link_to "Spreader", "/"
          %ul.nav
            %li{:class => controller.controller_path == 'accounts' ? 'active' : ''}
              %a{:href => accounts_path} Accounts
            %li{:class => controller.controller_path == 'campaigns' ? 'active' : ''}
              %a{:href => campaigns_path} Campaigns
            %li{:class => controller.controller_path == 'creatives' ? 'active' : ''}
              %a{:href => creatives_path} Creatives
            %li{:class => controller.controller_path == 'adgroups' ? 'active' : ''}
              %a{:href => adgroups_path} Adgroups
          %ul.nav.secondary-nav
            = render :partial => 'shared/navigation'
    .container
      .content
        .row
          .span11
		      - flash.each do |name, msg|
		        = content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String)
            = yield
          .span1 &nbsp;
          .span4
            %h3 Sidebar
            %ul
              %li{:class => controller.controller_path == 'accounts' ? 'active' : ''}
                %a{:href => accounts_path} Accounts
              %li{:class => controller.controller_path == 'campaigns' ? 'active' : ''}
                %a{:href => campaigns_path} Campaigns
              %li{:class => controller.controller_path == 'creatives' ? 'active' : ''}
                %a{:href => creatives_path} Creatives
              %li{:class => controller.controller_path == 'adgroups' ? 'active' : ''}
                %a{:href => adgroups_path} Adgroups
